<head>
<style>
table, th, td {
    border: 2px solid black;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h1 style="text-align:center">All Disasters</h1>
<h4>
<p style="padding-left: 20px;">
<%= link_to 'Back to profile', govtuser_path(current_user) %><br>

<% if current_user.username .eql? "Admin" %>
<%= link_to 'New Disaster Page', new_disasterevent_path %>
<% end %>
<% if current_user.usertype .eql? "govt" %>
<%= link_to 'New Disaster Page', new_disasterevent_path %>
<% end %>
</p>
<table align="center" style="width:95%">
  <tr>
    <th style="width:25%">Name</th>
    <th style="width:20%">Type</th>
    <th style="width:15%">Location</th>
    <th style="width:15%">Date</th>
    <th style="width:25%" colspan="3"></th> 
  </tr>
 <% if current_user.username .eql? "Admin" %>
  <% @disasterevents.each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.disaster_type %></td>
      <td><%= d.state %></td>
      <td><%= d.begindate %></td>
      <td style="text-align: center"><%= link_to 'Show', disasterevent_path(d) %></td>
      <td style="text-align: center"><%= link_to 'Edit', edit_disasterevent_path(d) %></td>
      <td style="text-align: center"><%= link_to 'Delete', disasterevent_path(d),
				method: :delete,
				data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
 <% end %>
 
 <% if current_user.usertype .eql? "govt" %>
  <% @disasterevents.where(madeby: current_user.username).each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.disaster_type %></td>
      <td><%= d.state %></td>
      <td><%= d.begindate %></td>
      <td style="text-align: center"><%= link_to 'Show', disasterevent_path(d) %></td>
      <td style="text-align: center"><%= link_to 'Edit', edit_disasterevent_path(d) %></td>
      <td style="text-align: center"><%= link_to 'Delete', disasterevent_path(d),
				method: :delete,
				data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>	
 <% end %>

 <% if current_user.usertype .eql? "civil" %>
  <% @disasterevents.where(state: current_user.state).each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.disaster_type %></td>
      <td><%= d.state %></td>
      <td><%= d.begindate %></td>
      <td style="text-align: center"><%= link_to 'Show', disasterevent_path(d) %></td>
    </tr>
  <% end %>
 <% end %>

</table>
</body>
</h4>