<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
    background-color: #0000cc;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
p.ex1 {padding-left: 20px;} li.ex2 {padding-left: 20px;}
/* Style the footer */
footer {
    background-color:#66a3ff;
    padding: 10px;
    text-align: center;

}

.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
	width:40%;
    padding: 16px;
}

.col1 {
    display: table-cell;
    width: 10%;
    padding: 16px;
}

@media only screen and (max-width: 1000px) {
    .col { 
        display: block;
        width: 100%;
    }
    .col1 { 
        display: block;
        width: 100%;
    }
}

</style>
</head>
<body>

<header>
Main Page<hr>
</header>

<div class="col-container">

    <div class="col1"></div>
    <div class="col" style="background: #ccc; font-size:20px; padding-left:20px;">
          <h3>Profile Information</h3>
          <ul>
            <li class="ex2"> <strong>Username: </strong><%= current_user.username %></li>
            <li class="ex2"> <strong>Name: </strong><%= @civiluser.first_name %> <%= @civiluser.last_name %></li>
            <li class="ex2"> <strong>Street Address: </strong><%= @civiluser.address %></li>
            <li class="ex2"> <strong>City: </strong><%= @civiluser.city %></li>
            <li class="ex2"> <strong>State: </strong><%= @civiluser.state %></li><hr>
            <li class="ex2"> <%= link_to 'View All Disasters', controller: 'disasterevents' %></li>
	    <li class="ex2"> <%= link_to 'Edit Profile', edit_civiluser_path(@civiluser) %></li>
	    <% if logged_in? %>
		<li class="ex2"> <%= link_to "Log out", logout_path, method: :delete %></li>
      	    <% end %>
          </ul>   
    </div>

    <div class="col" style="background: #f1f1f1; font-size:20px; padding-left:20px;">
            <h3>Contact Information</h3>        
	      <strong>Email:</strong><%= @civiluser.email %><br>
	      <strong>Phone Number:</strong><%= @civiluser.phone_number %>
    </div>
    <div class="col1"></div>

</div>

<footer> 
</footer>
</body>
</html>
  